<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242244284205-p3gttpnct080fgflf8bs318pi9ca65iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242244284205-p3gttpnct080fgflf8bs318pi9ca65iv</string>
	<key>API_KEY</key>
	<string>AIzaSyAdZx9tpEGCQX6t4ifaO3X0grdFCcvfv0E</string>
	<key>GCM_SENDER_ID</key>
	<string>242244284205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hello.notes</string>
	<key>PROJECT_ID</key>
	<string>albert-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>albert-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242244284205:ios:130fee9a941a0973b76da4</string>
</dict>
</plist>